<div class="messenger-shell">
  <aside class="contacts-pane">
    <div class="contacts-card">
      <div class="contacts-head">
        <div class="search-wrap">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Search" [(ngModel)]="searchTerm" />
        </div>
        <button type="button" class="icon-btn" (click)="toggle()" title="New chat">
          <i class="fas fa-plus"></i>
        </button>
        <div class="action_menu" *ngIf="isMenuVisible">
          <p class="menu-title">Start a chat</p>
          <ul *ngIf="userList.length; else noUsers">
            <li *ngFor="let person of userList" (click)="startChatWith(person)">
              <img [src]="person.image" [alt]="person.userName" />
              {{ person.userName }}
            </li>
          </ul>
          <ng-template #noUsers>
            <p class="empty-menu">Everyone already has a chat with you.</p>
          </ng-template>
        </div>
      </div>

      <ul class="contacts">
        <li
          *ngFor="let channel of filteredChannels"
          [class.active]="channel.isActive"
          (click)="selectChannel(channel)"
        >
          <img [src]="channel.image" [alt]="channel.channelName" />
          <div class="user_info">
            <span>{{ channel.channelName }}</span>
            <p>{{ channel.lastMessageContent }}</p>
          </div>
          <button type="button" class="call_icon" title="Start video call" (click)="startVideoCall(channel, $event)">
            <i class="fa fa-video"></i>
          </button>
        </li>
      </ul>
      <p class="empty-copy" *ngIf="!filteredChannels.length">No chats match that search.</p>
    </div>
  </aside>

  <section class="thread-pane">
    <app-my-messenger [channel]="selectedChannel"></app-my-messenger>
  </section>
</div>
